# Files to be ignored when building the docker image.
# ** indicates that it should exclude from all directories in range.
# ! indicates exceptions.

bitbucket-pipelines.yml
bin/*
**/*.md
.git/*
.gitignore
.idea/
arangodb/db/*
diagramsforDocs/*
postgres/postgresDB/*
timescaledb/timescaleDB/*
shellen.txt