# Files to be ignored when building the docker image.
# ** indicates that it should exclude from all directories in range.
# ! indicates exceptions. So here exclude all *.txt files in all directories
# except for History.txt.
bitbucket-pipelines.yml
bin/*
**/*.md
.git/*
.gitignore
.idea/