apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose -f ../../docker-compose.yml convert
    kompose.version: 1.21.0 ()
  labels:
    io.kompose.service: productsrv
  name: productsrv
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: productsrv
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose -f ../../docker-compose.yml convert
        kompose.version: 1.21.0 ()
      labels:
        io.kompose.service: productsrv
    spec:
      containers:
      - env:
        - name: DB_ADDRESS
          valueFrom:
            configMapKeyRef:
              key: DB_ADDRESS
              name: product-docker-compose-env
        - name: DB_PASS
          valueFrom:
            configMapKeyRef:
              key: DB_PASS
              name: product-docker-compose-env
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              key: DB_USER
              name: product-docker-compose-env
        - name: DISABLE_AUDIT_RECORDS
          valueFrom:
            configMapKeyRef:
              key: DISABLE_AUDIT_RECORDS
              name: product-docker-compose-env
        - name: MICRO_BROKER
          valueFrom:
            configMapKeyRef:
              key: MICRO_BROKER
              name: product-docker-compose-env
        - name: MICRO_BROKER_ADDRESS
          valueFrom:
            configMapKeyRef:
              key: MICRO_BROKER_ADDRESS
              name: product-docker-compose-env
        - name: MICRO_SERVER_ADDRESS
          valueFrom:
            configMapKeyRef:
              key: MICRO_SERVER_ADDRESS
              name: product-docker-compose-env
        image: productsrv
        imagePullPolicy: ""
        name: productsrvcont
        ports:
        - containerPort: 50059
        resources: {}
#        volumeMounts:
#        - mountPath: /go/src/goTemp/product/server
#          name: productsrv-claim0
#        - mountPath: /go/src/goTemp/globalUtils
#          name: productsrv-claim1
      restartPolicy: Always
      serviceAccountName: ""
#      volumes:
#      - name: productsrv-claim0
#        persistentVolumeClaim:
#          claimName: productsrv-claim0
#      - name: productsrv-claim1
#        persistentVolumeClaim:
#          claimName: productsrv-claim1
