apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose -f ../../docker-compose.yml convert
    kompose.version: 1.21.0 ()
  labels:
    io.kompose.service: timescaledb
  name: timescaledb
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: timescaledb
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose -f ../../docker-compose.yml convert
        kompose.version: 1.21.0 ()
      labels:
        io.kompose.service: timescaledb
    spec:
      containers:
      - env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              key: POSTGRES_PASSWORD
              name: timescaledb-docker-compose-env
        image: bolbeck/gotemp_bbtimescaledb
        imagePullPolicy: ""
        name: timescaledb
        ports:
        - containerPort: 5432
        resources: {}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: timescaledb-claim0
      restartPolicy: Always
      serviceAccountName: ""
      volumes:
      - name: timescaledb-claim0
        persistentVolumeClaim:
          claimName: timescaledb-claim0
